<div id="aniimated-thumbnials">
  <a href="img/temp/12.jpg">
    <img src="img/temp/12.jpg" />
  </a>
  <a href="img/temp/12.jpg">
    <img src="img/temp/12.jpg" />
  </a>
</div>

<script>
  $('#aniimated-thumbnials').lightGallery({
    thumbnail:true
  });
</script>

<script type="text/javascript">
  window.onload = function()
  {
    if (window.jQuery)
    {
      alert('jQuery is loaded');
    }
    else
    {
      alert('jQuery is not loaded');
    }
  }
</script>
