<div id="aniimated-thumbnials">
  <a href="img/temp/12.jpg">
    <img src="img/temp/12.jpg"/>
  </a>
  <a href="img/temp/12.jpg">
    <img src="img/temp/12.jpg"/>
  </a>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#aniimated-thumbnials").lightGallery();
  });
</script>
